.container__main {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.1) 40%
    ),
    url(../../assets/fondoStartView.png) no-repeat center fixed;
  height: 100vh; /* Ocupar toda la altura de la pantalla */
  width: 100vw; /* Ocupar toda la anchura de la pantalla */
  background-size: cover;
  background-position: top;
  overflow: hidden;
}

.container__folks {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInUp 2s ease-out;
  
}

.container__content {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Crea 4 columnas iguales */
  gap: 16px; /* Espacio entre los elementos */
  padding: 20px;
  max-height: 80vh; /* Limitar la altura máxima a un 80% de la altura de la pantalla */
  overflow-y: auto; /* Agregar scroll vertical cuando el contenido exceda la altura */
  overflow-x: hidden;
}

/* Personalización de la barra de desplazamiento */
.container__content::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento */
}

.container__content::-webkit-scrollbar-track {
  background-color: transparent; /* Fondo de la pista */
  border-radius: 10px; /* Bordes redondeados de la pista */
}

.container__content::-webkit-scrollbar-thumb {
  background-color: #e36bfa; /* Color del thumb (la parte que se mueve) */
  border-radius: 10px; /* Bordes redondeados del thumb */
  border: 1px solid #d54ced; /* Borde blanco alrededor del thumb */
}

.container__content::-webkit-scrollbar-thumb:hover {
  background-color: #83388e; /* Color verde más oscuro */
}

.item {
  background: url(../../assets/leaf.png) no-repeat center;
  padding: 20px;
  text-align: center;
  background-size: contain;
  background-color: transparent;
  width: 100%;
  height: auto;

  p {
    color: white;
    font-size: 1.5rem;
  }
}

.folk-image {
  width: 100px; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantén la proporción */
  object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
  border-radius: 40%; /* Hace que la imagen sea redonda */
  margin-bottom: 10px; /* Espacio entre la imagen y el nombre */

  transition: all 0.3s ease;
}
.folk-image:hover {
  cursor: pointer;
  transform: scale(1.7);
  cursor: url(../../assets/hada.png), auto;
}

.container__search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}


/* En pantallas pequeñas (móviles), ajustar la estructura */
@media (max-width: 768px) {
  /* Cambiar el grid de 7 columnas a 2 columnas */
  .container__content {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Ajustar el tamaño del contenedor principal */
  .container__main {
    background-size: cover;
  }

  /* Ajustar el tamaño de la imagen de los "folks" */
  .folk-image {
    width: 80px; /* Reducir el tamaño de la imagen */
  }

  .item p {
    font-size: 1.2rem; /* Reducir el tamaño del texto */
  }
}

/* En pantallas más pequeñas (móviles en modo retrato) */
@media (max-width: 480px) {
  /* Cambiar el grid a una sola columna */
  .container__content {
    grid-template-columns: auto;
  }

  /* Reducir más el tamaño de la imagen de los "folks" */
  .folk-image {
    width: 60px; /* Asegurar que la imagen sea aún más pequeña */
  }

  /* Reducir más el tamaño del texto */
  .item p {
    font-size: 1rem; /* Font-size más pequeño */
  }

  /* Ajustar el contenedor principal */
  .container__main {
    background-size: cover;
  }
}